<div class="container">
  <h1>Space Blog</h1>
  <div id="navbar">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </div>
  {{outlet}}
</div>
