<div class="container">
  <div id="navbar">
    <h1>Space Blog</h1>
    <div class="nav-link">
      {{#link-to 'contact'}}Contact{{/link-to}}
    </div>
    <div class="nav-link">
      {{#link-to 'about'}}About{{/link-to}}
    </div>
    <div class="nav-link">
      {{#link-to 'index'}}Home{{/link-to}}
    </div>
  </div>
  <div id="page-body">
    {{outlet}}
  </div>
</div>
